div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red {
  border-top-color: rgba(239,38,22,1);
}

#orange {
  border-top-color: rgba(245,103,27,1);
}

#yellow {
  border-top-color: rgba(252,239,62,1);
}

#green {
  border-top-color: rgba(51,182,24,1);
}

#blue {
  border-top-color: rgba(41,147,249,1);
}

#indigo {
  border-top-color: rgba(54,22,168,1);
}

#violet {
  border-top-color: rgba(165,24,191,1);
}
